# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
    labels:
      - "area/dependency"
      - "kind/chore"
    ignore:
      - dependency-name: "kyma-project/prod/tpi/fluent-bit"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      otel: # used by e2e and integration tests to push dummy otlp data
        patterns:
          - "go.opentelemetry.io/otel/*"
      k8s:
        patterns:
          - "k8s.io/*"
      istio:
        patterns:
          - "istio.io/*"
    commit-message:
      prefix: "chore"
    labels:
      - "area/dependency"
      - "kind/chore"

  - package-ecosystem: "gomod"
    directory: "/internal/tools"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
    labels:
      - "area/ci"
      - "kind/chore"

  - package-ecosystem: "gomod"
    directory: "/docs/user/integration/sample-app"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
    groups:
      otel:
        patterns:
          - "go.opentelemetry.io/otel/*"
    labels:
      - "area/dependency"
      - "kind/chore"
