* @kyma-project/observability

# All files and subdirectories in /docs
/docs/ @kyma-project/technical-writers

# All .md files
*.md @kyma-project/technical-writers

# Config files for markdownlint
.markdownlint.yaml @kyma-project/technical-writers
markdown_heading_capitalization.js @kyma-project/technical-writers