module-name: telemetry-manager
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:v20230428-c64807e3
  - europe-docker.pkg.dev/kyma-project/dev/tpi/otel-collector:PR-356
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.1.4-fef25e9c
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20230308-ff6cf204
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
