module-name: telemetry-manager
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:v20230901-8f845e47
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.83.0-da21e9f9
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.1.8-da21e9f9
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20230824-2d68935f
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
