module-name: telemetry-manager
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:v20230503-6e5495be
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.75.0-6ea7fe7a
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.0.11-6ea7fe7a
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20230308-ff6cf204
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "/test"
    - "*_test.go"
