module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:main
  - europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.115.0-main
  - europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:3.2.2
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20241212-e4adf27f
  - europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:3.0.1-857b814
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/mocks/**"
    - "**/stubs/**"
    - "**/test/**"
    - "**/*_test.go"
