module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:1.7.0
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.89.0-25ff4383
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.2.1-8adfb683
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20231214-4555a23b
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
