module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:main
  - europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.106.1-main
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:3.1.3-44a3707
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20240605-7743c77e
  - europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:2.53.1-729b0b4
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/mocks/**"
    - "**/stubs/**"
    - "**/test/**"
    - "**/*_test.go"
