module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:1.20.0
  - europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.104.0-1.20.0
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:3.0.7-1e5449d3
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20240605-7743c77e
  - europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:2.53.0-8691013b
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/mocks/**"
    - "**/stubs/**"
    - "**/test/**"
    - "**/*_test.go"
