module-name: telemetry-manager
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:v20230821-3b55ba99
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.83.0-da21e9f9
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.1.8-da21e9f9
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20230822-75aecc66
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
