module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:1.10.1
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.95.0-0eb4394f
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.2.2-b5220c17
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20240123-4f99d571
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
