module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:v20231117-fd906e1e
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.88.0-bf0a181d
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.1.10-a5234020
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20231108-b1ec4cab
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
