module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:main
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.91.0-2a8b115a
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.2.1-8adfb683
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20240123-4f99d571
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
