module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:v20230911-69866791
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.85.0-6130ed2c
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.1.9-6130ed2c
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20230824-2d68935f
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
