module-name: telemetry
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:1.41.0
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20250508-147743cd
  - europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:4.0.2
  - europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.126.0-1.41.0
  - europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:3.4.0-0eb80ba
mend:
  language: golang-mod
  exclude:
    - '**/mocks/**'
    - '**/stubs/**'
    - '**/test/**'
    - '**/*_test.go'
    - docs/**
checkmarx-one:
  preset: go-default
  exclude:
    - '**/mocks/**'
    - '**/stubs/**'
    - '**/test/**'
    - '**/*_test.go'
    - docs/**
