module-name: telemetry
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:main
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20250910-86122076
  - europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:4.1.1
  - europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.136.0-main
  - europe-docker.pkg.dev/kyma-project/dev/tpi/telemetry-self-monitor:PR-2643
  - europe-docker.pkg.dev/kyma-project/prod/external/library/alpine:3.22.1
mend:
  language: golang-mod
  exclude:
    - '**/mocks/**'
    - '**/stubs/**'
    - '**/test/**'
    - '**/*_test.go'
    - docs/**
    - dependencies/populateimages/**
    - dependencies/telemetry-sample-app/**
    - dependencies/stdout-log-generator/**
checkmarx-one:
  preset: go-default
  exclude:
    - '**/mocks/**'
    - '**/stubs/**'
    - '**/test/**'
    - '**/*_test.go'
    - docs/**
    - dependencies/populateimages/**
    - dependencies/telemetry-sample-app/**
    - dependencies/stdout-log-generator/**
