module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:1.27.0
  - europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.111.0-1.27.0
  - europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:3.1.9
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20241024-8bc3f6a8
  - europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:2.53.2-cc4f64c
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/mocks/**"
    - "**/stubs/**"
    - "**/test/**"
    - "**/*_test.go"
