module-name: telemetry
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:1.16.0
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.99.0-41265c69
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:3.0.3-c8214d63
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20240404-fd3588ce
  - europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:2.45.5-4f1be411
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
