module-name: telemetry
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:1.35.0
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20250217-6a3cdc4a
  - europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:3.2.7
  - europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.120.0-1.35.0
  - europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:3.2.0-825b449
mend:
  language: golang-mod
  exclude:
    - '**/mocks/**'
    - '**/stubs/**'
    - '**/test/**'
    - '**/*_test.go'
checkmarx-one:
  preset: go-default
  exclude:
    - '**/mocks/**'
    - '**/stubs/**'
    - '**/test/**'
    - '**/*_test.go'
