module-name: telemetry-manager
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:v20230526-aee48202
  - europe-docker.pkg.dev/kyma-project/prod/tpi/otel-collector:0.77.0-8115210c
  - europe-docker.pkg.dev/kyma-project/prod/tpi/fluent-bit:2.1.2-95ba1b02
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20230503-c10c571f
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "/test"
    - "*_test.go"
