module-name: telemetry
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:main
  - europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20250712-d862a377
  - europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:4.0.4
  - europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.130.0-main
  - europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:3.5.0-8d9d348
mend:
  language: golang-mod
  exclude:
    - '**/mocks/**'
    - '**/stubs/**'
    - '**/test/**'
    - '**/*_test.go'
    - docs/**
checkmarx-one:
  preset: go-default
  exclude:
    - '**/mocks/**'
    - '**/stubs/**'
    - '**/test/**'
    - '**/*_test.go'
    - docs/**
