apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: system
  labels:
    control-plane: operator
    app.kubernetes.io/name: deployment
    app.kubernetes.io/instance: operator
    app.kubernetes.io/component: manager
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: operator
      app.kubernetes.io/instance: telemetry
      kyma-project.io/component: controller
      control-plane: telemetry-operator
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: operator
        app.kubernetes.io/instance: telemetry
        kyma-project.io/component: controller
        control-plane: telemetry-operator
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        args:
        - --cert-dir=/tmp
        - --fluent-bit-cpu-request=100m
        - --fluent-bit-memory-request=50Mi
        - --fluent-bit-denied-filter-plugins=kubernetes,rewrite_tag,multiline
        - --trace-collector-cpu-limit=1
        - --trace-collector-memory-limit=1Gi
        - --trace-collector-cpu-request=25m
        - --trace-collector-memory-request=32Mi
        - --validating-webhook-enabled=true
        - --manager-namespace=$(MY_POD_NAMESPACE)
        image: controller:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: false
          capabilities:
            drop:
              - ALL
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 100m
            memory: 256Mi
          requests:
            cpu: 5m
            memory: 20Mi
        env:
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      serviceAccountName: operator
      terminationGracePeriodSeconds: 10
