apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-manager-role
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
rules:
  ##########################
  # Policy rules for manager
  ##########################
  - apiGroups:
      - ""
    resources:
      - secrets
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - deployments
      - replicasets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - telemetries
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterrolebindings
      - clusterroles
      - rolebindings
      - roles
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - security.istio.io
    resources:
      - peerauthentications
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - networking.istio.io
    resources:
      - destinationrules
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - telemetry.kyma-project.io
    resources:
      - logpipelines
      - metricpipelines
      - tracepipelines
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - telemetry.kyma-project.io
    resources:
      - logpipelines/finalizers
      - metricpipelines/finalizers
    verbs:
      - update
  - apiGroups:
      - telemetry.kyma-project.io
    resources:
      - logpipelines/status
      - metricpipelines/status
      - tracepipelines/status
    verbs:
      - get
      - patch
      - update

  #############################
  # Policy rules for fluent-bit
  #############################
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
    verbs:
      - get
      - list
      - watch

  ###############################
  # Policy rules for metric-agent
  ###############################
  - apiGroups:
      - ""
    resources:
      - nodes
      - nodes/metrics
      - nodes/stats
      - nodes/proxy
      - nodes/spec
      - services
      - endpoints
      - pods
      - pods/status
      - events
      - namespaces
      - namespaces/status
      - replicationcontrollers
      - replicationcontrollers/status
      - resourcequotas
    verbs:
      - get
      - list
      - watch
  - nonResourceURLs:
      - /metrics
      - /metrics/cadvisor
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - deployments
      - replicasets
      - statefulsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
    resources:
      - daemonsets
      - deployments
      - replicasets
      - statefulsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - get
      - list
      - watch

  #################################
  # Policy rules for metric-gateway
  #################################
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - telemetries
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - telemetry.kyma-project.io
    resources:
      - metricpipelines
      - tracepipelines
      - logpipelines
    verbs:
      - get
      - list
      - watch

  ###############################
  # Policy rules for self-monitor
  ###############################
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - pods
    verbs:
      - get
      - list
      - watch

  ################################
  # Policy rules for trace-gateway
  ################################
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-manager-role
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - serviceaccounts
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - deployments
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - telemetries
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - telemetries/finalizers
    verbs:
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - telemetries/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - security.istio.io
    resources:
      - peerauthentications
    verbs:
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - networking.istio.io
    resources:
      - destinationrules
    verbs:
      - create
      - delete
      - patch
      - update
---
# permissions to do leader election.
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-manager-leader-election-role
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-manager-rolebinding
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "telemetry-manager.fullname" . }}-manager-role'
subjects:
  - kind: ServiceAccount
    name: '{{ include "telemetry-manager.fullname" . }}-manager'
    namespace: '{{ .Release.Namespace }}'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-manager-rolebinding
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "telemetry-manager.fullname" . }}-manager-role'
subjects:
  - kind: ServiceAccount
    name: '{{ include "telemetry-manager.fullname" . }}-manager'
    namespace: '{{ .Release.Namespace }}'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-manager-leader-election-rolebinding
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "telemetry-manager.fullname" . }}-manager-leader-election-role'
subjects:
  - kind: ServiceAccount
    name: '{{ include "telemetry-manager.fullname" . }}-manager'
    namespace: '{{ .Release.Namespace }}'
