apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-resource-template
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
data:
  metadata.yaml: |
    labels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/part-of: telemetry
      {{- if .Values.resources.metadata.labels}}
{{ toYaml .Values.resources.metadata.labels | indent 6 }}
    {{- end }}
    {{- if .Values.resources.metadata.annotations}}
    annotations:
{{ toYaml .Values.resources.metadata.annotations | indent 6 }}
    {{- end }}

  pod-template.yaml: |
    metadata:
      labels:
        app.kubernetes.io/part-of: telemetry
        kyma-project.io/module: telemetry
        {{- if .Values.resources.pod.labels}}
{{ toYaml .Values.resources.pod.labels | indent 8 }}
    {{- end }}
      {{- if .Values.resources.pod.annotations}}
      annotations:
  {{ toYaml .Values.resources.pod.annotations | indent 8 }}
      {{- end }}
    spec:
      {{- if .Values.global.imagePullSecret.enabled }}
      imagePullSecrets: {{ .Values.manager.container.imagePullSecrets | toYaml | nindent 10 }}
      {{- end }}
  {{- if and .Values.global.caBundle.enabled .Values.global.caBundle.name (ne .Values.global.caBundle.name "") }}
      containers:
      - volumeMounts:
          - name: custom-ca-bundle
            mountPath: {{ .Values.global.caBundle.mountPath }}/{{ .Values.global.caBundle.file }}
            subPath: {{ .Values.global.caBundle.file }}
            readOnly: true

      volumes:
      - name: custom-ca-bundle
        projected:
          defaultMode: 0444
          sources:
            - clusterTrustBundle:
                name: {{ .Values.global.caBundle.name }}
                path: {{ .Values.global.caBundle.file }}
      {{- end }}
