apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-pod-template
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
data:
  template.yaml: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      labels:
        app.kubernetes.io/part-of: telemetry
        kyma-project.io/module: telemetry
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/part-of: telemetry
            kyma-project.io/module: telemetry
        spec:
          {{- if .imports.global.imagePullSecret.enabled }}
          imagePullSecrets: {{ .Values.manager.container.imagePullSecrets | toYaml | nindent 10 }}
          {{- end }}
          containers:
          - name: <container_name>

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              privileged: false
              readOnlyRootFilesystem: true
              runAsGroup: 0
              runAsNonRoot: true
              runAsUser: 10001
              seccompProfile:
                type: RuntimeDefault
            {{- if and .Values.global.caBundle.enabled .Values.global.caBundle.name (ne .Values.global.caBundle.name "") }}
            volumeMounts:
              - name: custom-ca-bundle
                mountPath: {{ .Values.global.caBundle.mountPath }}/{{ .Values.global.caBundle.file }}
                subPath: {{ .Values.global.caBundle.file }}
                readOnly: true
            {{- end }}
         {{- if and .Values.global.caBundle.enabled .Values.global.caBundle.name (ne .Values.global.caBundle.name "") }}
          volumes:
          - name: custom-ca-bundle
            projected:
              defaultMode: 0444
              sources:
                - clusterTrustBundle:
                    name: {{ .Values.global.caBundle.name }}
                    path: {{ .Values.global.caBundle.file }}
          {{- end }}
          priorityClassName: normal
          securityContext:
            runAsNonRoot: true
            runAsUser: 10001
            seccompProfile:
              type: RuntimeDefault