apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "telemetry-manager.fullname" . }}-resource-templates
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: telemetry
    kyma-project.io/module: telemetry
  {{- include "telemetry-manager.labels" . | indent 4 }}
data:
  metadata.yaml: |
    labels:
      {{- if .Values.additionalMetadata.metadata.labels}}
{{ toYaml .Values.additionalMetadata.metadata.labels | indent 6 }}
    {{- end }}
    annotations:
    {{- if .Values.additionalMetadata.metadata.annotations}}
{{ toYaml .Values.additionalMetadata.metadata.annotations | indent 6 }}
    {{- end }}

  podspec-template.yaml: |
    objectmeta:
      labels:
        {{- if .Values.additionalMetadata.pod.labels}}
{{ toYaml .Values.additionalMetadata.pod.labels | indent 8 }}
    {{- end }}
      annotations:
      {{- if .Values.additionalMetadata.pod.annotations}}
{{ toYaml .Values.additionalMetadata.pod.annotations | indent 8 }}
      {{- end }}
    spec:
      {{- if .Values.global.imagePullSecret.enabled }}
      imagepullsecrets:
      - name: {{ .Values.global.imagePullSecret.name }}
      {{- end }}

      containers:
      - name: template-container
  {{- if and .Values.global.caBundle.enabled .Values.global.caBundle.name (ne .Values.global.caBundle.name "") }}
        volumemounts:
        - name: custom-ca-bundle
          mountpath: {{ .Values.global.caBundle.mountPath }}/{{ .Values.global.caBundle.file }}
          subpath: {{ .Values.global.caBundle.file }}
          readonly: true

      volumes:
      - name: custom-ca-bundle
        volumesource:
          projected:
            sources:
            - clustertrustbundle:
              name: {{ .Values.global.caBundle.name }}
              path: {{ .Values.global.caBundle.file }}
      {{- end }}
