# Adds namespace to all resources.
namespace: kyma-system

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
# Note that it should also match with the prefix (text before '-') of the namespace
# field above.
namePrefix: telemetry-

# Labels to add to all resources and selectors.
labels:
- includeSelectors: false
  pairs:
    control-plane: telemetry-manager
    app.kubernetes.io/component: telemetry
    app.kubernetes.io/part-of: kyma
    app.kubernetes.io/name: telemetry-manager
    app.kubernetes.io/instance: telemetry-manager
    app.kubernetes.io/managed-by: kustomize

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --enable-v1beta1-log-pipelines=true
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --enable-log-pipelines-otlp=true
    target:
      kind: Deployment
      name: manager
  - path: webhook-patches.yaml
    target:
      group: admissionregistration.k8s.io
      version: v1
      kind: MutatingWebhookConfiguration
      name: mutating-webhook.kyma-project.io

resources:
- crd
- ../rbac
- ../manager
- ../webhook
- ../busola
- ../networking
