---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: metricpipelines.telemetry.kyma-project.io
spec:
  group: telemetry.kyma-project.io
  names:
    kind: MetricPipeline
    listKind: MetricPipelineList
    plural: metricpipelines
    singular: metricpipeline
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[-1].type
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MetricPipeline is the Schema for the metricpipelines API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Defines the desired characteristics of MetricPipeline.
            properties:
              input:
                description: Configures different inputs to send additional metrics
                  to the metric gateway.
                properties:
                  application:
                    description: Configures application related scraping.
                    properties:
                      istio:
                        description: Configures istio-proxy metrics scraping.
                        properties:
                          enabled:
                            description: If enabled, metrics for istio-proxy containers
                              are scraped from Pods that have had the istio-proxy
                              sidecar injected.
                            type: boolean
                        type: object
                      prometheus:
                        description: Configures Prometheus scraping.
                        properties:
                          enabled:
                            description: If enabled, Pods marked with `prometheus.io/scrape=true`
                              annotation will be scraped.
                            type: boolean
                        type: object
                      runtime:
                        description: Configures runtime scraping.
                        properties:
                          enabled:
                            description: If enabled, workload-related Kubernetes metrics
                              will be scraped.
                            type: boolean
                        type: object
                    type: object
                type: object
              output:
                description: Configures the metric gateway.
                properties:
                  convertToDelta:
                    description: Defines whether this MetricPipeline should convert
                      monotonic, cumulative sum and histogram metrics to monotonic,
                      delta metrics.
                    type: boolean
                  otlp:
                    description: Defines an output using the OpenTelemetry protocol.
                    properties:
                      authentication:
                        description: Defines authentication options for the OTLP output
                        properties:
                          basic:
                            description: Activates `Basic` authentication for the
                              destination providing relevant Secrets.
                            properties:
                              password:
                                description: Contains the basic auth password or a
                                  Secret reference.
                                properties:
                                  value:
                                    description: Value that can contain references
                                      to Secret values.
                                    type: string
                                  valueFrom:
                                    properties:
                                      secretKeyRef:
                                        description: Refers to a key in a Secret.
                                          You must provide `name` and `namespace`
                                          of the Secret, as well as the name of the
                                          `key`.
                                        properties:
                                          key:
                                            type: string
                                          name:
                                            type: string
                                          namespace:
                                            type: string
                                        type: object
                                    type: object
                                type: object
                              user:
                                description: Contains the basic auth username or a
                                  Secret reference.
                                properties:
                                  value:
                                    description: Value that can contain references
                                      to Secret values.
                                    type: string
                                  valueFrom:
                                    properties:
                                      secretKeyRef:
                                        description: Refers to a key in a Secret.
                                          You must provide `name` and `namespace`
                                          of the Secret, as well as the name of the
                                          `key`.
                                        properties:
                                          key:
                                            type: string
                                          name:
                                            type: string
                                          namespace:
                                            type: string
                                        type: object
                                    type: object
                                type: object
                            required:
                            - password
                            - user
                            type: object
                        type: object
                      endpoint:
                        description: Defines the host and port (<host>:<port>) of
                          an OTLP endpoint.
                        properties:
                          value:
                            description: Value that can contain references to Secret
                              values.
                            type: string
                          valueFrom:
                            properties:
                              secretKeyRef:
                                description: Refers to a key in a Secret. You must
                                  provide `name` and `namespace` of the Secret, as
                                  well as the name of the `key`.
                                properties:
                                  key:
                                    type: string
                                  name:
                                    type: string
                                  namespace:
                                    type: string
                                type: object
                            type: object
                        type: object
                      headers:
                        description: Defines custom headers to be added to outgoing
                          HTTP or GRPC requests.
                        items:
                          properties:
                            name:
                              description: Defines the header name.
                              type: string
                            value:
                              description: Value that can contain references to Secret
                                values.
                              type: string
                            valueFrom:
                              properties:
                                secretKeyRef:
                                  description: Refers to a key in a Secret. You must
                                    provide `name` and `namespace` of the Secret,
                                    as well as the name of the `key`.
                                  properties:
                                    key:
                                      type: string
                                    name:
                                      type: string
                                    namespace:
                                      type: string
                                  type: object
                              type: object
                          required:
                          - name
                          type: object
                        type: array
                      protocol:
                        default: grpc
                        description: Defines the OTLP protocol (http or grpc). Default
                          is GRPC.
                        enum:
                        - grpc
                        - http
                        minLength: 1
                        type: string
                      tls:
                        description: Defines TLS options for the OTLP output.
                        properties:
                          ca:
                            description: Defines the CA certificate.
                            properties:
                              value:
                                description: Value that can contain references to
                                  Secret values.
                                type: string
                              valueFrom:
                                properties:
                                  secretKeyRef:
                                    description: Refers to a key in a Secret. You
                                      must provide `name` and `namespace` of the Secret,
                                      as well as the name of the `key`.
                                    properties:
                                      key:
                                        type: string
                                      name:
                                        type: string
                                      namespace:
                                        type: string
                                    type: object
                                type: object
                            type: object
                          cert:
                            description: Defines the client certificate.
                            properties:
                              value:
                                description: Value that can contain references to
                                  Secret values.
                                type: string
                              valueFrom:
                                properties:
                                  secretKeyRef:
                                    description: Refers to a key in a Secret. You
                                      must provide `name` and `namespace` of the Secret,
                                      as well as the name of the `key`.
                                    properties:
                                      key:
                                        type: string
                                      name:
                                        type: string
                                      namespace:
                                        type: string
                                    type: object
                                type: object
                            type: object
                          insecure:
                            description: Defines whether to send requests via plaintext
                              instead of TLS.
                            type: boolean
                          insecureSkipVerify:
                            description: Defines whether to skip TLS certificate verification.
                            type: boolean
                          key:
                            description: Defines the client key.
                            properties:
                              value:
                                description: Value that can contain references to
                                  Secret values.
                                type: string
                              valueFrom:
                                properties:
                                  secretKeyRef:
                                    description: Refers to a key in a Secret. You
                                      must provide `name` and `namespace` of the Secret,
                                      as well as the name of the `key`.
                                    properties:
                                      key:
                                        type: string
                                      name:
                                        type: string
                                      namespace:
                                        type: string
                                    type: object
                                type: object
                            type: object
                        required:
                        - insecure
                        type: object
                    required:
                    - endpoint
                    type: object
                required:
                - otlp
                type: object
            type: object
          status:
            description: Represents the current information/status of MetricPipeline.
            properties:
              conditions:
                description: Defines the trail of MetricPipeline conditions.
                items:
                  description: Contains details for the current condition of this
                    MetricPipeline.
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    reason:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
