experimental:
  enabled: true
regular:
  enabled: false
manager:
  container:
    args:
      - --cert-dir=/tmp
      - --high-priority-class-name=telemetry-priority-class-high
      - --normal-priority-class-name=telemetry-priority-class
    env:
      alpineImage: europe-docker.pkg.dev/kyma-project/prod/external/library/alpine:3.22.1
      appLogLevel: info
      fluentBitExporterImage: europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20250828-a2103691
      fluentBitImage: europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:4.0.8
      gomemlimit: 300MiB
      otelCollectorImage: europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.133.0-1.47.0
      selfMonitorImage: europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:3.5.0-8d9d348
    image:
      repository: europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:1.47.1
    resources:
      limits:
        memory: 384Mi
      requests:
        cpu: 5m
        memory: 50Mi
managerMetrics:
  ports:
    - name: http-metrics
      port: 8080
      targetPort: 8080
managerWebhook:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
