---
apiVersion: v1
kind: Namespace
metadata:
  creationTimestamp: null
  name: metric-receiver
spec: {}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mock-metric-receiver
  namespace: metric-receiver
  labels:
    app: mock-metric-receiver
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc: {}
          http: {}
    exporters:
      logging:
        loglevel: debug
    service:
      pipelines:
        metrics:
          receivers:
            - otlp
          exporters:
            - logging
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mock-metric-receiver
  name: mock-metric-receiver
  namespace: metric-receiver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mock-metric-receiver
  strategy: {}
  template:
    metadata:
      labels:
        app: mock-metric-receiver
    spec:
      volumes:
        - name: collector-config
          configMap:
            name: mock-metric-receiver
      securityContext:
        fsGroup: 101
      containers:
        - image: otel/opentelemetry-collector-contrib:0.70.0
          name: otel-collector
          volumeMounts:
            - name: collector-config
              mountPath: /etc/collector
          args:
            - --config=/etc/collector/config.yaml
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: mock-metric-receiver
  name: mock-metric-receiver
  namespace: metric-receiver
spec:
  ports:
    - name: http-otlp
      port: 4317
      protocol: TCP
      targetPort: 4317
    - name: grpc-otlp
      port: 4318
      protocol: TCP
      targetPort: 4318
  selector:
    app: mock-metric-receiver
---
apiVersion: v1
kind: Namespace
metadata:
  creationTimestamp: null
  name: metric-producer
spec: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  labels:
    app: metric-producer
  name: metric-producer
  namespace: metric-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metric-producer
  template:
    metadata:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "8080"
        prometheus.io/scrape: "true"
      creationTimestamp: null
      labels:
        app: metric-producer
    spec:
      containers:
        - image: eu.gcr.io/kyma-project/develop/monitoring-custom-metrics:e56d9645
          imagePullPolicy: IfNotPresent
          name: sample-metrics
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          resources:
            limits:
              memory: 100Mi
            requests:
              memory: 32Mi
---
apiVersion: telemetry.kyma-project.io/v1alpha1
kind: MetricPipeline
metadata:
  labels:
    app.kubernetes.io/name: metricpipeline
    app.kubernetes.io/instance: metricpipeline-sample
    app.kubernetes.io/part-of: telemetry-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: telemetry-operator
  name: metricpipeline-sample
spec:
  input:
    application:
      runtime:
        enabled: true
      workloads:
        enabled: true
  output:
    otlp:
      endpoint:
        value: http://mock-metric-receiver.metric-receiver:4317
