experimental:
  enabled: true
default:
  enabled: false
manager:
  container:
    args:
      cert-dir: "/tmp"
      high-priority-class-name: "telemetry-priority-class-high"
      normal-priority-class-name: "telemetry-priority-class"
    env:
      alpineImage: europe-docker.pkg.dev/kyma-project/prod/external/library/alpine:3.22.2
      appLogLevel: info
      fluentBitExporterImage: europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20250910-86122076
      fluentBitImage: europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:4.1.1
      gomemlimit: 300MiB
      otelCollectorImage: europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.139.0-main
      selfMonitorImage: europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:3.7.3-f4e3fab
      operateInFipsMode: false
    image:
      repository: europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:main
      pullPolicy: "IfNotPresent"
    resources:
      limits:
        memory: 384Mi
      requests:
        cpu: 5m
        memory: 50Mi
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      capabilities:
        drop:
          - ALL
  securityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
managerMetrics:
  ports:
    - name: http-metrics
      port: 8080
      targetPort: 8080
managerWebhook:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
