experimental:
  enabled: true
default:
  enabled: false
manager:
  container:
    args:
      - --cert-dir=/tmp
      - --high-priority-class-name=telemetry-priority-class-high
      - --normal-priority-class-name=telemetry-priority-class
    env:
      alpineImage: europe-docker.pkg.dev/kyma-project/prod/external/library/alpine:3.22.1
      appLogLevel: info
      fluentBitExporterImage: europe-docker.pkg.dev/kyma-project/prod/directory-size-exporter:v20250910-86122076
      fluentBitImage: europe-docker.pkg.dev/kyma-project/prod/external/fluent/fluent-bit:4.1.0
      gomemlimit: 300MiB
      otelCollectorImage: europe-docker.pkg.dev/kyma-project/prod/kyma-otel-collector:0.136.0-main
      selfMonitorImage: europe-docker.pkg.dev/kyma-project/prod/tpi/telemetry-self-monitor:3.6.0-4de7b7a
    image:
      repository: europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:main
    resources:
      limits:
        memory: 384Mi
      requests:
        cpu: 5m
        memory: 50Mi
managerMetrics:
  ports:
    - name: http-metrics
      port: 8080
      targetPort: 8080
managerWebhook:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
