---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: metricpipelines.telemetry.kyma-project.io
spec:
  group: telemetry.kyma-project.io
  names:
    kind: MetricPipeline
    listKind: MetricPipelineList
    plural: metricpipelines
    singular: metricpipeline
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[-1].type
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MetricPipeline is the Schema for the metricpipelines API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MetricPipelineSpec defines the desired state of MetricPipeline
            properties:
              output:
                description: Configures the trace receiver of a MetricPipeline.
                properties:
                  otlp:
                    description: Defines an output using the OpenTelmetry protocol.
                    properties:
                      authentication:
                        description: Defines authentication options for the OTLP output
                        properties:
                          basic:
                            description: Contains credentials for HTTP basic auth
                            properties:
                              password:
                                description: Contains the basic auth password or a
                                  secret reference
                                properties:
                                  value:
                                    type: string
                                  valueFrom:
                                    properties:
                                      secretKeyRef:
                                        description: Reference to a key in a Secret.
                                          You must provide `name` and `namespace`
                                          of the Secret, as well as the name of the
                                          `key`.
                                        properties:
                                          key:
                                            type: string
                                          name:
                                            type: string
                                          namespace:
                                            type: string
                                        type: object
                                    type: object
                                type: object
                              user:
                                description: Contains the basic auth username or a
                                  secret reference
                                properties:
                                  value:
                                    type: string
                                  valueFrom:
                                    properties:
                                      secretKeyRef:
                                        description: Reference to a key in a Secret.
                                          You must provide `name` and `namespace`
                                          of the Secret, as well as the name of the
                                          `key`.
                                        properties:
                                          key:
                                            type: string
                                          name:
                                            type: string
                                          namespace:
                                            type: string
                                        type: object
                                    type: object
                                type: object
                            required:
                            - password
                            - user
                            type: object
                        type: object
                      endpoint:
                        description: Defines the host and port (<host>:<port>) of
                          an OTLP endpoint.
                        properties:
                          value:
                            type: string
                          valueFrom:
                            properties:
                              secretKeyRef:
                                description: Reference to a key in a Secret. You must
                                  provide `name` and `namespace` of the Secret, as
                                  well as the name of the `key`.
                                properties:
                                  key:
                                    type: string
                                  name:
                                    type: string
                                  namespace:
                                    type: string
                                type: object
                            type: object
                        type: object
                      headers:
                        description: Custom headers to be added to outgoing HTTP or
                          GRPC requests
                        items:
                          properties:
                            name:
                              description: Defines the header name.
                              type: string
                            value:
                              type: string
                            valueFrom:
                              properties:
                                secretKeyRef:
                                  description: Reference to a key in a Secret. You
                                    must provide `name` and `namespace` of the Secret,
                                    as well as the name of the `key`.
                                  properties:
                                    key:
                                      type: string
                                    name:
                                      type: string
                                    namespace:
                                      type: string
                                  type: object
                              type: object
                          required:
                          - name
                          type: object
                        type: array
                      protocol:
                        default: grpc
                        description: Defines the OTLP protocol (http or grpc). Default
                          is GRPC.
                        enum:
                        - grpc
                        - http
                        minLength: 1
                        type: string
                    required:
                    - endpoint
                    type: object
                required:
                - otlp
                type: object
            required:
            - output
            type: object
          status:
            description: Defines the observed state of MetricPipeline
            properties:
              conditions:
                items:
                  description: Contains details for the current condition of this
                    MetricPipeline
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    reason:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
