name: Build Self Monitor Image

permissions:
  contents: read

on:
  pull_request_target:
    paths:
      - "dependencies/telemetry-self-monitor/**"
    types: [opened, edited, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main
    paths:
      - "dependencies/telemetry-self-monitor/**"
  workflow_dispatch:

jobs:
  envs:
    runs-on: ubuntu-latest
    outputs:
      build-args: ${{ steps.prepare-envs.outputs.build-args }}
      build-tag: ${{ steps.build-tag.outputs.build-tag || '' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Fetch new env file
        if: github.event_name == 'pull_request_target'
        run: |
          git fetch origin ${{ github.event.pull_request.head.sha }}
          git checkout ${{ github.event.pull_request.head.sha }} --no-overlay -- dependencies/telemetry-self-monitor/envs

      - name: Prepare Envs
        id: prepare-envs
        run: |
          {
          # this creates a multiline string with the envs.
          # Everything between `build-args<<BUILD_ARGS` and BUILD_ARGS will be content of the build-args variable.
          echo 'build-args<<BUILD_ARGS'
          cat dependencies/telemetry-self-monitor/envs
          echo BUILD_ARGS

          } >> "$GITHUB_OUTPUT"

      - name: load envs into output
        id: load-envs
        run: |
          cat dependencies/telemetry-self-monitor/envs >> "$GITHUB_OUTPUT"

      - name: Get commit short SHA
        id: get-short-sha
        run: echo "short-sha=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_OUTPUT

      - name: Build image tag
        if: github.event_name == 'push'
        id: build-tag
        run: echo "build-tag=${{ steps.load-envs.outputs.PROMETHEUS_VERSION }}-${{ steps.get-short-sha.outputs.short-sha }}" >> $GITHUB_OUTPUT

  build-image:
    permissions:
      id-token: write # Required for requesting the JWT token
      contents: read
    needs: envs
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: tpi/telemetry-self-monitor
      dockerfile: Dockerfile
      context: dependencies/telemetry-self-monitor
      build-args: ${{ needs.envs.outputs.build-args }}
      tags: ${{ needs.envs.outputs.build-tag }}
      platforms: "linux/amd64,linux/arm64"

  notify-on-failure:
    needs: build-image
    runs-on: ubuntu-latest
    if: ${{ always() && (needs.build-image.result == 'failure') && github.event_name == 'push' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Send slack message on failure
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: ""
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Workflow <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|*Telemetry ${{ github.workflow }}*> has status *${{ needs.build-image.result }}*"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "See related PR/Commit <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|${{ github.event.pull_request.title || github.event.head_commit.message }}> by *${{ github.event.pull_request.user.login || github.event.head_commit.author }}*"
