name: Build Image

on:
  pull_request_target:
    types: [ opened, edited, synchronize, reopened, ready_for_review ]
    branches:
      - "main"
      - "release-[0-9]+.[0-9]+"
  push:
    branches:
      - "main"
      - "release-[0-9]+.[0-9]+"
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
jobs:

  envs:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.create-tags.outputs.tags }}

    steps:
      - name: Checkout code
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout code
        if: github.event_name == 'push'
        uses: actions/checkout@v4

      - name: create tags
        id: create-tags
        run: |
          if [[ $GITHUB_EVENT_NAME == 'push' ]]; then
            echo 'TAGS=${{ github.ref_name }}' >> "$GITHUB_OUTPUT"
          else
            echo 'TAGS=PR-${{ github.event.pull_request.number }}' >> "$GITHUB_OUTPUT"
          fi

  build-image:
    needs: envs
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: telemetry-manager 
      dockerfile: Dockerfile
      context: .
      tags: ${{ needs.envs.outputs.tags }}

  notify-on-failure:
    needs: build-image
    runs-on: ubuntu-latest
    if: ${{ always() && (needs.build-image.result == 'failure') }}
    steps:
      - name: Send slack message on failure
        uses: slackapi/slack-github-action@e28cf165c92ffef168d23c5c9000cffc8a25e117
        with:
          payload-file-path: ".github/workflows/slack-message.json"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_HUSKIES_NOTIF_WEBHOOK_URL }}

  list-images:
    needs: build-image
    runs-on: ubuntu-latest
    steps:
      - name: List images
        run: |
          echo "${{ needs.build-image.outputs.images }}"
