name: Gardener integration

on:
  push:
    branches: [ "main", "release-*" ]
  
  workflow_dispatch:

jobs:
  gardener-integration-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # uses an older go version by default, so configure go with newest version
    - uses: actions/setup-go@v4
      with:
        go-version: '1.21'
        cache: true
  
    # wait for the build to succeed so that the manager image is available
    - name: Wait for the 'post-telemetry-manager-build' job to succeed
      uses: kyma-project/wait-for-commit-status-action@2b3ffe09af8b6f40e1213d5fb7f91a7bd41ffb20
      with:
        context: "post-telemetry-manager-build"
        commit_ref: "${{ github.sha }}"
        timeout: 600000 # 10 minutes in milliseconds
        # The check interval is kept long otherwise it will exhaust the GitHub rate limit (More info: https://docs.github.com/en/rest/overview/resources-in-the-rest-api?apiVersion=2022-11-28#rate-limiting)
        check_interval: 60000 # 1 minute in milliseconds
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        GITHUB_OWNER: "${{ github.repository_owner }}"
        GITHUB_REPO: "telemetry-manager"

    # save gardener kubeconfig to a temp file in order to pass it to the command
    - name: save sa
      shell: bash
      run: 'echo "$GARDENER_SA" > /tmp/gardener-sa.yaml'
      env:
        GARDENER_SA: ${{ secrets.GARDENER_SA }}

    # provision cluster and run tests
    - name: run test
      run: make gardener-integration-test
      env:
        GARDENER_SECRET_NAME: ${{ secrets.GARDENER_SECRET_NAME }}
        GARDENER_PROJECT: ${{ secrets.GARDENER_PROJECT }}
        GARDENER_SA_PATH: /tmp/gardener-sa.yaml
