name: All Checks passed

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    types:
      [
        opened,
        synchronize,
        reopened,
        ready_for_review,
        edited,
        labeled,
        milestoned,
      ]
  workflow_run:
    workflows: ["PR Integration"]
    types:
      - completed
      - requested

jobs:
  all-checks:
    runs-on: ubuntu-latest
    permissions:
      checks: read
    steps:
      - uses: wechuli/allcheckspassed@e22f45a4f25f4cf821d1273705ac233355400db1 # v1.2.0
        with:
          delay: '0'
          retries: '30'
          polling_interval: '1'
