name: All Checks Passed

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    types:
      [
        opened,
        synchronize,
        reopened,
        ready_for_review,
        edited,
        labeled,
        milestoned,
      ]
  workflow_run:
    branches-ignore:
      - main
    workflows: ["PR Integration"]
    types:
      - completed
      - requested

jobs:
  all-checks:
    runs-on: ubuntu-latest
    permissions:
      checks: read # Required for checking the status of actions
      contents: read
    steps:
      - name: Check if all checks passed
        uses: wechuli/allcheckspassed@b0eaef5be76003932c9520e2b3dd03c85cc43d87 # v2.2.0
        with:
          delay: "0"
          retries: "30"
          polling_interval: "1"
