name: PR Code Checks

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    branches:
      - "main"
      - "release-*"
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "OWNERS"
      - "CODEOWNERS"
      - "external-images.yaml"
  workflow_dispatch:

jobs:
  unit-tests:
    if: >-
      ${{ 
        (github.event_name == 'pull_request' || 
         github.event_name == 'pull_request_target') && 
        !contains(github.event.pull_request.labels.*.name, 'ci-pause')
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Run tests
        run: make test

  lint:
    if: >-
      ${{ 
        (github.event_name == 'pull_request' || 
         github.event_name == 'pull_request_target') && 
        !contains(github.event.pull_request.labels.*.name, 'ci-pause')
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Run lint
        run: make --debug lint

  coverage:
    if: >-
      ${{ 
        (github.event_name == 'pull_request' || 
         github.event_name == 'pull_request_target') && 
        !contains(github.event.pull_request.labels.*.name, 'ci-pause')
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Run coverage check
        run: make check-coverage

  verify-code-generated:
    if: >-
      ${{ 
        (github.event_name == 'pull_request' || 
         github.event_name == 'pull_request_target') && 
        !contains(github.event.pull_request.labels.*.name, 'ci-pause')
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Verify all code and manifests were generated and committed
        run: make check-clean

  test-renovate:
    if: >-
      ${{ 
        (github.event_name == 'pull_request' || 
         github.event_name == 'pull_request_target') && 
        !contains(github.event.pull_request.labels.*.name, 'ci-pause')
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Test Renovate config
        uses: renovatebot/github-action@a7e89c349a53ab0c9d8458eb85f4b415e55848e7 # v44.2.3
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
