name: PR Code Checks

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    branches:
      - "main"
      - "release-*"
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "OWNERS"
      - "CODEOWNERS"
      - "external-images.yaml"
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  unit-tests:
    if: ${{ github.event_name == 'merge_group' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Validate CI labels
        uses: ./.github/actions/validate-ci-labels

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Run tests
        run: make test

      - name: Run tests sample-app
        working-directory: dependencies/sample-app
        run: make test

  lint:
    needs: validate-labels
    if: ${{ always() && needs.validate-labels.result == 'success' || github.event_name == 'merge_group' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Run lint
        run: make --debug lint

  coverage:
    needs: validate-labels
    if: ${{ always() && needs.validate-labels.result == 'success' || github.event_name == 'merge_group' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Run coverage check
        run: make check-coverage

  verify-code-generated:
    needs: validate-labels
    if: ${{ always() && needs.validate-labels.result == 'success' || github.event_name == 'merge_group' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Verify all code and manifests were generated and committed
        run: make check-clean

  test-renovate:
    needs: validate-labels
    if: ${{ always() && needs.validate-labels.result == 'success' || github.event_name == 'merge_group' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Test Renovate config
        uses: renovatebot/github-action@eaf12548c13069dcc28bb75c4ee4610cdbe400c5 # v44.2.6
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
