name: PR Integration

permissions:
  contents: read

on:
  schedule:
    # Run every hour on main branch
    - cron: "0 * * * *"
  merge_group:
  pull_request:
    branches:
      - "main"
      - "release-*"
    # only include PRs that change:
    # go files
    # go mod files
    # test files in the test/e2e directory
    # test files in the istio directory
    # exclude go files that end with _test.go
    # exclude (go) files in the doc folder
    # include the workflow definition itself
    # include dependencies of the workflow definition
    # exclude busola configmap files
    paths:
      - "**/go.mod"
      - "**/go.sum"
      - "**.go"
      - "config/**"
      - "!config/busola/**"
      - "!**_test.go"
      - "!docs/**"
      - "test/**.go"
      - ".github/workflows/pr-integration.yml"
      - ".github/template/**"
      - ".env"
      - ".k3d-kyma.yaml"
      - "Makefile"

  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      manager-image: ${{ steps.set-env.outputs.image-repo }}:${{ steps.set-env.outputs.image-tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Golang
        uses: ./.github/template/setup-golang

      - name: Prepare environment variables
        id: set-env
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            IMAGE_REPO="europe-docker.pkg.dev/kyma-project/dev/telemetry-manager"
            IMAGE_TAG="${{ github.event.pull_request.head.sha }}"
          elif [[ "${{ github.event_name }}" == "merge_group" ]]; then
            IMAGE_REPO="europe-docker.pkg.dev/kyma-project/dev/telemetry-manager"
            IMAGE_TAG="${{ github.event.merge_group.head_sha }}"
          else
            IMAGE_REPO="europe-docker.pkg.dev/kyma-project/prod/telemetry-manager"

            GIT_COMMIT_SHA=$(git rev-parse --short=8 HEAD)
            GIT_COMMIT_DATE=$(git show -s --format=%cd --date=format:'v%Y%m%d' $GIT_COMMIT_SHA)
            IMAGE_TAG="$GIT_COMMIT_DATE-$GIT_COMMIT_SHA"
          fi

          # Write to both GITHUB_ENV (for use in this job) and GITHUB_OUTPUT (for dependent jobs)
          echo "IMAGE_REPO=$IMAGE_REPO" >> $GITHUB_ENV
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "image-repo=$IMAGE_REPO" >> $GITHUB_OUTPUT
          echo "image-tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Wait for image to be built
        shell: bash
        run: |
          make wait-for-image
        env:
          IMAGE_TAG: "${{ env.IMAGE_TAG }}"
          IMAGE_REPO: "${{ env.IMAGE_REPO }}"
          QUERY_INTERVAL: 30

  e2e-selfmonitor:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        kind:
          - fluent-bit
          - log-agent
          - log-gateway
          - metric-gateway
          - metric-agent
          - traces
        scenario:
          - healthy
          - backpressure
          - outage
    name: "selfmon: ${{ matrix.kind }}-${{ matrix.scenario }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup test environment
        uses: "./.github/template/test-setup"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          install-istio: ${{ matrix.scenario != 'healthy' }}
          manager-image: ${{ needs.setup.outputs.manager-image }}
          operate-in-fips-mode: ${{ matrix.kind != 'fluent-bit' && 'true' || 'false' }}

      - name: Execute tests
        uses: "./.github/template/test-execute"
        with:
          id: ${{ matrix.kind }}-${{ matrix.scenario }}
          path: ./test/selfmonitor/...
          labels: "selfmonitor-${{ matrix.kind }}-${{ matrix.scenario }}"

      - name: Cleanup test environment
        uses: "./.github/template/test-cleanup"
        if: ${{ !cancelled()  }}
        with:
          id: selfmonitor-${{ matrix.kind }}-${{ matrix.scenario }}
          failure: failure()

  e2e-custom-labels-annotations-no-fips:
    needs: setup
    name: "e2e-custom-labels-annotations-no-fips"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup test environment
        uses: "./.github/template/test-setup"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          install-istio: false
          manager-image: ${{ needs.setup.outputs.manager-image }}
          operate-in-fips-mode: false
          custom-labels-annotations-no-fips: true

      - name: Execute tests
        uses: "./.github/template/test-execute"
        with:
          id: custom-labels-annotations-no-fips
          path: ./test/e2e/misc...
          labels: "custom-label-annotation"

  e2e:
    needs: setup
    env:
      MANAGER_IMAGE: ${{ needs.setup.outputs.manager-image }}
    strategy:
      fail-fast: false
      matrix:
        testcase:
          # LOGS
          - name: e2e-fluent-bit
            labels: fluent-bit and not experimental
            mode: release
            type: e2e
            use-fips: false
            install-istio: false
          - name: e2e-log-agent
            labels: log-agent
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-log-gateway
            labels: log-gateway
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-logs-max-pipeline
            labels: logs-max-pipeline
            mode: release
            type: e2e
            use-fips: false
            install-istio: false
          - name: e2e-fluent-bit-max-pipeline
            labels: fluent-bit-max-pipeline
            mode: release
            type: e2e
            use-fips: false
            install-istio: false
          - name: e2e-otel-max-pipeline
            labels: otel-max-pipeline
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-logs-misc
            labels: logs-misc
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          # METRICS
          - name: e2e-metric-agent-a
            labels: metric-agent-a
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-metric-agent-b
            labels: metric-agent-b
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-metric-agent-c
            labels: metric-agent-c
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-metric-gateway-a
            labels: metric-gateway-a
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-metric-gateway-b
            labels: metric-gateway-b
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-metric-gateway-c
            labels: metric-gateway-c
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-metrics-misc
            labels: metrics-misc
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-metrics-max-pipeline
            labels: metrics-max-pipeline
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          # TRACES
          - name: e2e-traces
            labels: traces
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-traces-max-pipeline
            labels: traces-max-pipeline
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          # TELEMETRY
          - name: e2e-telemetry-otel
            labels: telemetry and not fluent-bit
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-telemetry-fluent-bit
            labels: telemetry and fluent-bit
            mode: release
            type: e2e
            use-fips: false
            install-istio: false
          # MISC
          - name: e2e-misc-otel
            labels: misc and not fluent-bit
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-misc-fluent-bit
            labels: misc and fluent-bit
            mode: release
            type: e2e
            use-fips: false
            install-istio: false
          # OTHER
          - name: e2e-experimental-otel
            labels: experimental and not fluent-bit
            mode: experimental
            type: e2e
            use-fips: true
            install-istio: false
          - name: e2e-experimental-fluent-bit
            labels: experimental and fluent-bit
            mode: experimental
            type: e2e
            use-fips: false
            install-istio: false
          # INTEGRATION
          - name: integration-istio-otel
            labels: istio and not fluent-bit
            mode: release
            type: integration
            use-fips: true
            install-istio: true
          - name: integration-istio-fluent-bit
            labels: istio and fluent-bit
            mode: release
            type: integration
            use-fips: false
            install-istio: true
    name: "${{ matrix.testcase.name }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup test environment
        uses: "./.github/template/test-setup"
        with:
          experimental: ${{ matrix.testcase.mode == 'experimental' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          install-istio: ${{ matrix.testcase.install-istio }}
          manager-image: ${{ needs.setup.outputs.manager-image }}
          operate-in-fips-mode: ${{ matrix.testcase.use-fips }}

      - name: Execute tests
        uses: "./.github/template/test-execute"
        with:
          id: ${{ matrix.testcase.name }}
          path: ./test/${{ matrix.testcase.type }}/...
          labels: ${{ matrix.testcase.labels }}

      - name: Cleanup test environment
        uses: "./.github/template/test-cleanup"
        if: ${{ !cancelled()  }}
        with:
          id: ${{ matrix.testcase.name }}
          failure: failure()

      - name: Print logs from all pods in kyma-system namespace
        if: failure()
        run: |
          for pod in $(kubectl get pods -n kyma-system -o name); do echo "=== $pod ==="; kubectl logs -n kyma-system $pod; done || true

  summary:
    needs: [e2e-selfmonitor, e2e]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Generate test summary
        uses: "./.github/template/test-summary"
