name: PR Integration

permissions:
  contents: read

env:
  # add the tag PR-<number> to the image if it is a PR, if the trigger is merge_group, then add the sha as the tag
  MANAGER_IMAGE: europe-docker.pkg.dev/kyma-project/dev/telemetry-manager:${{ github.event_name == 'pull_request' && 'PR-' || '' }}${{ github.event.number || github.event.merge_group.head_sha }}

on:
  merge_group:
  pull_request:
    branches:
      - "main"
      - "release-*"
    # only include PRs that change:
    # go files
    # go mod files
    # test files in the test/e2e directory
    # test files in the istio directory
    # exclude go files that end with _test.go
    # exclude (go) files in the doc folder
    # include the workflow definition itself
    # include dependencies of the workflow definition
    # exclude busola configmap files
    paths:
      - "**/go.mod"
      - "**/go.sum"
      - "**.go"
      - "config/**"
      - "!config/busola/**"
      - "!**_test.go"
      - "!docs/**"
      - "test/**.go"
      - ".github/workflows/pr-integration.yml"
      - ".github/template/**"
      - ".env"
      - ".k3d-kyma.yaml"
      - "Makefile"

  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Golang
        uses: ./.github/template/setup-golang

      - name: Wait for image to be built
        shell: bash
        run: |
          make wait-for-image
        env:
          IMAGE_TAG: "${{ github.event.pull_request.head.sha || github.event.merge_group.head_sha }}"
          QUERY_INTERVAL: 30
          IMAGE_REPO: "europe-docker.pkg.dev/kyma-project/dev/telemetry-manager"

  e2e-selfmonitor:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        kind:
          - fluent-bit
          - log-agent
          - log-gateway
          - metric-gateway
          - metric-agent
          - traces
        scenario:
          - healthy
          - backpressure
          - outage
    name: "selfmon: ${{ matrix.kind }}-${{ matrix.scenario }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup test environment
        uses: "./.github/template/test-setup"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          install-istio: ${{ matrix.scenario != 'healthy' }}

      - name: Execute tests
        uses: "./.github/template/test-execute"
        with:
          id: ${{ matrix.kind }}-${{ matrix.scenario }}
          path: ./test/selfmonitor/...
          label: "selfmonitor-${{ matrix.kind }}-${{ matrix.scenario }}"

      - name: Clean-up test environment
        uses: "./.github/template/test-cleanup"
        if: ${{ !cancelled()  }}
        with:
          id: selfmonitor-${{ matrix.kind }}-${{ matrix.scenario }}
          failure: failure()

  e2e:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        testcase:
          # LOGS
          - label: fluent-bit
            mode: release
            type: e2e
            use-fips: false
            install-istio: false
          - label: log-agent
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: log-gateway
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: logs-max-pipeline
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: fluent-bit-max-pipeline
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: otel-max-pipeline
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: logs-misc
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          # METRICS
          - label: metric-agent-a
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: metric-agent-b
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: metric-agent-c
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: metric-gateway-a
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: metric-gateway-b
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: metric-gateway-c
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: metrics-misc
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: metrics-max-pipeline
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          # TRACES
          - label: traces
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: traces-max-pipeline
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          # TELEMETRY
          - label: telemetry and not nofips
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: telemetry and nofips
            mode: release
            type: e2e
            use-fips: false
            install-istio: false
          # MISC
          - label: misc and not nofips
            mode: release
            type: e2e
            use-fips: true
            install-istio: false
          - label: misc and nofips
            mode: release
            type: e2e
            use-fips: false
            install-istio: false
          # OTHER
          - label: experimental and not nofips
            mode: experimental
            type: e2e
            use-fips: true
            install-istio: false
          - label: experimental and nofips
            mode: experimental
            type: e2e
            use-fips: false
            install-istio: false
          # INTEGRATION
          - label: istio and not nofips
            mode: release
            type: integration
            use-fips: true
            install-istio: true
          - label: istio and nofips
            mode: release
            type: integration
            use-fips: false
            install-istio: true
    name: "e2e: ${{ matrix.testcase.label }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup test environment
        uses: "./.github/template/test-setup"
        with:
          experimental: ${{ matrix.testcase.mode == 'experimental' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          install-istio: ${{ matrix.testcase.install-istio }}
          operate-in-fips-mode: ${{ matrix.testcase.use-fips }}

      - name: cleanup id
        run: CLEAN_ID=$(echo "${{ matrix.testcase.type }}-${{ matrix.testcase.label }}" | tr ' ' '_') && echo "CLEAN_ID=$CLEAN_ID" >> $GITHUB_ENV

      - name: Execute tests
        uses: "./.github/template/test-execute"
        with:
          # use CLEAN_ID to avoid issues with spaces in label
          id: ${{ env.CLEAN_ID }}
          path: ./test/${{ matrix.testcase.type }}/...
          label: ${{ matrix.testcase.label }}

      - name: Clean-up test environment
        uses: "./.github/template/test-cleanup"
        if: ${{ !cancelled()  }}
        with:
          id: ${{ env.CLEAN_ID }}
          failure: failure()

      - name: Print logs from all pods in kyma-system namespace
        if: failure()
        run: |
          for pod in $(kubectl get pods -n kyma-system -o name); do echo "=== $pod ==="; kubectl logs -n kyma-system $pod; done || true

  summary:
    needs: [e2e-selfmonitor, e2e]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Generate test summary
        uses: "./.github/template/test-summary"
