name: PR Integration

permissions:
  contents: read

env:
  # add the tag PR-<number> to the image if it is a PR, if the trigger is merge_group, then add the sha as the tag
  MANAGER_IMAGE: europe-docker.pkg.dev/kyma-project/dev/telemetry-manager:${{ github.event_name == 'pull_request' && 'PR-' || '' }}${{ github.event.number || github.event.merge_group.head_sha }}

on:
  merge_group:
  pull_request:
    branches:
      - "main"
      - "release-*"
    # only include PRs that change:
    # go files
    # go mod files
    # test files in the test/e2e directory
    # test files in the istio directory
    # exclude go files that end with _test.go
    # exclude (go) files in the doc folder
    # include the workflow definition itself
    # include dependencies of the workflow definition
    # exclude busola configmap files
    paths:
      - "**/go.mod"
      - "**/go.sum"
      - "**.go"
      - "config/**"
      - "!config/busola/**"
      - "!**_test.go"
      - "!docs/**"
      - "test/**.go"
      - ".github/workflows/pr-integration.yml"
      - ".github/template/**"
      - ".env"
      - ".k3d-kyma.yaml"

  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Golang
        uses: ./.github/template/setup-golang

  e2e-selfmonitor:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        kind:
          - logs-fluentbit
          - logs-otel-agent
          - logs-otel-gateway
          - metrics
          - traces
        scenario:
          - healthy
          - backpressure
          - outage
    name: "selfmon: ${{ matrix.kind }}-${{ matrix.scenario }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup test environment
        uses: "./.github/template/test-setup"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      # we need Istio for fault injection to simulate backpressure and outages
      - name: Deploy Istio module
        if: ${{ matrix.scenario != 'healthy' }}
        run: hack/deploy-istio.sh

      - name: Deploy test K8S prerequisites
        uses: "./.github/template/deploy-test-k8s-prerequisites"

      - name: Execute tests
        uses: "./.github/template/test-execute"
        with:
          id: ${{ matrix.kind }}-${{ matrix.scenario }}
          path: ./test/selfmonitor/...
          labels: "selfmonitor-${{ matrix.kind }}-${{ matrix.scenario }}"

      - name: Cleanup test environment
        uses: "./.github/template/test-cleanup"
        if: ${{ !cancelled()  }}
        with:
          id: selfmonitor-${{ matrix.kind }}-${{ matrix.scenario }}
          failure: failure()
          github-token: ${{ secrets.GITHUB_TOKEN }}

  e2e:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        labels:
          # LOGS
          - name: fluent-bit
            mode: release
            type: e2e
          - name: log-agent
            mode: release
            type: e2e
          - name: log-gateway
            mode: release
            type: e2e
          - name: logs-max-pipeline
            mode: release
            type: e2e
          - name: fluent-bit-max-pipeline
            mode: release
            type: e2e
          - name: otel-max-pipeline
            mode: release
            type: e2e
          # METRICS
          - name: metrics-set-a
            mode: release
            type: e2e
          - name: metrics-set-b
            mode: release
            type: e2e
          - name: metrics-set-c
            mode: release
            type: e2e
          - name: metrics-max-pipeline
            mode: release
            type: e2e
          # TRACES
          - name: traces
            mode: release
            type: e2e
          - name: traces-max-pipeline
            mode: release
            type: e2e
          # TELEMETRY
          - name: telemetry
            mode: release
            type: e2e
          # MISC
          - name: misc
            mode: release
            type: e2e
          # OTHER
          - name: experimental
            mode: experimental
            type: e2e
          # INTEGRATION
          - name: istio
            mode: release
            type: integration
    name: "e2e: ${{ matrix.labels.name }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup test environment
        uses: "./.github/template/test-setup"
        with:
          experimental: ${{ matrix.labels.mode == 'experimental' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy Istio module
        if: ${{ matrix.labels.name == 'istio' && matrix.labels.type == 'integration' }}
        run: hack/deploy-istio.sh

      - name: Deploy test K8S prerequisites
        uses: "./.github/template/deploy-test-k8s-prerequisites"

      - name: Execute tests
        uses: "./.github/template/test-execute"
        with:
          id: ${{ matrix.labels.type }}-${{ matrix.labels.name }}
          path: ./test/${{ matrix.labels.type }}/...
          labels: ${{ matrix.labels.name }}

      - name: Cleanup test environment
        uses: "./.github/template/test-cleanup"
        if: ${{ !cancelled()  }}
        with:
          id: ${{ matrix.labels.type }}-${{ matrix.labels.name }}
          failure: failure()
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Print logs from all pods in kyma-system namespace
        if: failure()
        run: |
          for pod in $(kubectl get pods -n kyma-system -o name); do echo "=== $pod ==="; kubectl logs -n kyma-system $pod; done || true

  summary:
    needs: [e2e-selfmonitor, e2e]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Generate test summary
        uses: "./.github/template/test-summary"
