name: PR Integration

env:
  IMG: europe-docker.pkg.dev/kyma-project/dev/telemetry-manager:PR-${{ github.event.number }}

on:
  pull_request:
    branches:
      - "main"
      - "release-*"
    paths-ignore:
      - "docs/**"
      - "**.md"
  workflow_dispatch:

jobs:
  e2e-release:
    strategy:
      fail-fast: false
      matrix:
        ginkgo-labels:
        - logs
        - metrics
        - traces
        - telemetry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare test
        uses: "./.github/template/prepare-test"
        with:
          release: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: bin/ginkgo run --tags e2e --label-filter="${{ matrix.ginkgo-labels }} && !v1beta1" test/e2e

      - name: Finalize test
        uses: "./.github/template/finalize-test"
        if: success() || failure()
        with:
          failure: failure()

  e2e-dev:
    strategy:
      fail-fast: false
      matrix:
        ginkgo-labels:
        - logs
        - metrics
        - traces
        - self-mon-logs
        - self-mon-metrics
        - self-mon-traces
        - telemetry
        - telemetry-log-analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare test
        uses: "./.github/template/prepare-test"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: bin/ginkgo run --tags e2e --label-filter="${{ matrix.ginkgo-labels }}" test/e2e

      - name: Finalize test
        uses: "./.github/template/finalize-test"
        if: success() || failure()
        with:
          failure: failure()

  integration-istio:
    strategy:
      fail-fast: false
      matrix:
        ginkgo-labels:
          - logs && metrics && traces
          - self-mon-logs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare Test
        uses: "./.github/template/prepare-test"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy Istio Module
        run: hack/deploy-istio.sh

      - name: Run tests
        run: |
          bin/ginkgo run --tags istio --label-filter="${{ matrix.ginkgo-labels }}" test/integration/istio

      - name: Finalize Test
        uses: "./.github/template/finalize-test"
        if: success() || failure()
        with:
          failure: failure()
