name: PR Integration

env:
  # add the tag PR-<number> to the image if it is a PR, if the trigger is merge_group, then add the sha as the tag
  IMG: europe-docker.pkg.dev/kyma-project/dev/telemetry-manager:${{ github.event_name == 'pull_request' && 'PR-' || '' }}${{ github.event.number || github.event.merge_group.head_sha }}

on:
  merge_group:
  pull_request:
    branches:
      - "main"
      - "release-*"
    paths-ignore:
      - 'docs/**'
      - 'dependencies/**'
      - '**/*.md'
      - 'OWNERS'
      - 'CODEOWNERS'
      - 'external-images.yaml'
  workflow_dispatch:


jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: ./.github/template/setup-golang

  e2e:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        ginkgo-labels:
          - logs
          - "metrics && set_a"
          - "metrics && set_b"
          - traces
          - telemetry
          - max-pipeline
          - telemetry-log-analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare test
        uses: "./.github/template/prepare-test"
        with:
          release: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: bin/ginkgo run ${{ runner.debug && '-v' || '' }} --tags e2e --label-filter="${{ matrix.ginkgo-labels }} && !experimental" test/e2e

      - name: Finalize test
        uses: "./.github/template/finalize-test"
        if: success() || failure()
        with:
          failure: failure()
          job-name: ${{ github.job }}-${{ matrix.ginkgo-labels }}

  e2e-dev:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        ginkgo-labels:
          - logs
          - metrics
          - traces
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare test
        uses: "./.github/template/prepare-test"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: bin/ginkgo run ${{ runner.debug && '-v' || '' }} --tags e2e --label-filter="${{ matrix.ginkgo-labels }} && experimental" test/e2e

      - name: Finalize test
        uses: "./.github/template/finalize-test"
        if: success() || failure()
        with:
          failure: failure()
          job-name: ${{ github.job }}-${{ matrix.ginkgo-labels }}

  e2e-istio:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare Test
        uses: "./.github/template/prepare-test"
        with:
          release: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy Istio Module
        run: hack/deploy-istio.sh

      - name: Run tests
        run: |
          bin/ginkgo run ${{ runner.debug && '-v' || '' }} --tags istio --label-filter="integration" test/integration/istio

      - name: Finalize Test
        uses: "./.github/template/finalize-test"
        if: success() || failure()
        with:
          failure: failure()
          job-name: ${{ github.job }}

  e2e-self-mon:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        signal-type:
          - logs
          - metrics
          - traces
        scenario:
          - healthy
          - backpressure
          - outage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare Test
        uses: "./.github/template/prepare-test"
        with:
          release: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests without Istio
        if: ${{ matrix.scenario == 'healthy' }}
        run: |
          bin/ginkgo run ${{ runner.debug && '-v' || '' }} --tags e2e --label-filter="self-mon-${{ matrix.signal-type }}-${{ matrix.scenario }}" test/e2e

        # we need Istio for fault injection to simulate backpressure and outages
      - name: Deploy Istio Module
        if: ${{ matrix.scenario != 'healthy' }}
        run: hack/deploy-istio.sh

      - name: Run tests with Istio
        if: ${{ matrix.scenario != 'healthy' }}
        run: |
          bin/ginkgo run ${{ runner.debug && '-v' || '' }} --tags istio --label-filter="self-mon-${{ matrix.signal-type }}-${{ matrix.scenario }}" test/integration/istio

      - name: Finalize Test
        uses: "./.github/template/finalize-test"
        if: success() || failure()
        with:
          failure: failure()
          job-name: ${{ github.job }}-${{ matrix.signal-type }}-${{ matrix.scenario }}
