name: Manual Load Test

env:
  IMG: europe-docker.pkg.dev/kyma-project/dev/telemetry-manager:PR-${{ github.event.number }}

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  pull_request:
    branches:
      - "main"
    paths:
      - "sec-scanners-config.yaml"

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  load-test:
    strategy:
      max-parallel: 1
      matrix:
        k8s_version: [ 1.27, 1.28 ]
        argument: ["-t traces", "-t traces -m true", "-t traces -b true", "-t metrics", "-t metrics -m true", "-t metrics -b true"]
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      # save gardener kubeconfig to a temp file in order to pass it to the command
      - name: Save serviceaccount to file
        shell: bash
        run: 'echo "$GARDENER_SA" > /tmp/gardener-sa.yaml'
        env:
          GARDENER_SA: ${{ secrets.GARDENER_SA }}

      # provision cluster and run tests
      - name: Provision Gardener
        run: make provision-gardener
        env:
          GARDENER_SECRET_NAME: ${{ secrets.GARDENER_SECRET_NAME }}
          GARDENER_PROJECT: ${{ secrets.GARDENER_PROJECT }}
          GARDENER_SA_PATH: /tmp/gardener-sa.yaml
          GARDENER_K8S_VERSION: ${{ matrix.k8s_version }}

      # Run the load test
      - name: Run Load test
        working-directory: docs/contributor/telemetry-load-test
        run: ./assets/run-load-test.sh ${{ matrix.argument }}
