name: PR Lifecycle

on:
  pull_request:
    branches:
      - "main"
      - "release-*"
    paths-ignore:
      - "docs/**"
      - "**.md"
  workflow_dispatch:

jobs:
  test-slack-webhook:
    runs-on: ubuntu-latest
    steps:
      - name: Send slack message on failure
        uses: slackapi/slack-github-action@e28cf165c92ffef168d23c5c9000cffc8a25e117
        if: failure()
        with:
          payload-file-path: ".github/workflows/slack-message.json"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_HUSKIES_NOTIF_WEBHOOK_URL }}

  manager-upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Provision K3D
        shell: bash
        run: make provision-k3d

      - name: Deploy with latest tag
        shell: bash
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag --sort=-creatordate | sed -n 1p)
          echo "Using tag ${LATEST_TAG}"
          git checkout ${LATEST_TAG}
          GIT_COMMIT_SHA=$(git rev-parse --short=8 HEAD)
          GIT_COMMIT_DATE=$(git show -s --format=%cd --date=format:'v%Y%m%d' ${GIT_COMMIT_SHA})
          echo "Deploying Manager using image europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:${GIT_COMMIT_DATE}-${GIT_COMMIT_SHA}"
          IMG=europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:${GIT_COMMIT_DATE}-${GIT_COMMIT_SHA} make deploy-dev

      - name: Wait for manager readiness
        shell: bash
        run: kubectl -n kyma-system rollout status deployment telemetry-manager --timeout=2s

      - name: Run test on latest tag
        shell: bash
        run: |
          bin/ginkgo run --tags e2e --flake-attempts=5 --label-filter="operational" -v test/e2e

      - name: Wait for cleanup of test run
        shell: bash
        run: hack/wait-for-namespaces.sh

      - name: Switch back to current revision
        uses: actions/checkout@v4

      # wait for the build to succeed so that the manager image is available
      - name: Wait for the image to be available in the registry
        run: "./hack/await_image.sh 'PR-${{ github.event.pull_request.number }}'"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          IMAGE_REPO: "europe-docker.pkg.dev/kyma-project/dev/telemetry-manager"

      - name: Deploy with current version
        shell: bash
        run: |
          IMG=europe-docker.pkg.dev/kyma-project/dev/telemetry-manager:PR-${{ github.event.number }} make deploy-dev

      - name: Wait for manager readiness
        shell: bash
        run: kubectl -n kyma-system rollout status deployment telemetry-manager --timeout=90s

      - name: Run test on current version
        shell: bash
        run: |
          make install-tools # delete after the tools via go modules are released 
          bin/ginkgo run --tags e2e --flake-attempts=5 --label-filter="operational" -v test/e2e

      - name: Finalize test
        uses: "./.github/template/finalize-test"
        if: success() || failure()
        with:
          failure: failure()
