name: PR Upgrade

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    branches:
      - "main"
      - "release-*"
    # only include PRs that change:
    # go files
    # go mod files
    # test files in the test/e2e directory
    # test files in the istio directory
    # exclude go files that end with _test.go
    # exclude (go) files in the doc folder
    # include the workflow definition itself
    # include dependencies of the workflow definition
    paths:
      - "**/go.mod"
      - "**/go.sum"
      - "**.go"
      - "config/**"
      - "!**_test.go"
      - "!docs/**"
      - "test/e2e/*.go"
      - "test/integration/istio/*.go"
      - ".github/workflows/pr-upgrade.yml"
      - ".github/template/**"
      - ".env"
      - ".k3d-kyma.yaml"
  workflow_dispatch:

jobs:
  upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      - name: Provision K3D
        shell: bash
        run: make provision-k3d

      - name: Deploy with latest tag
        shell: bash
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag --sort=-creatordate | sed -n 1p)
          echo "Using tag ${LATEST_TAG}"
          git checkout ${LATEST_TAG}
          GIT_COMMIT_SHA=$(git rev-parse --short=8 HEAD)
          GIT_COMMIT_DATE=$(git show -s --format=%cd --date=format:'v%Y%m%d' ${GIT_COMMIT_SHA})
          echo "Deploying Manager using image europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:${GIT_COMMIT_DATE}-${GIT_COMMIT_SHA}"
          MANAGER_IMAGE=europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:${GIT_COMMIT_DATE}-${GIT_COMMIT_SHA} make deploy-experimental

      - name: Deploy Test Prerequisites
        uses: "./.github/template/deploy-test-prerequisites"

      - name: Wait for manager readiness
        shell: bash
        run: kubectl -n kyma-system rollout status deployment telemetry-manager --timeout=90s

      - name: Run tests on latest tag
        shell: bash
        # TODO(TeodorSAP): Remove '...-migrated' file path after 1.46.0 release
        # TODO(TeodorSAP): Add "TestLogsOTelUpgrade" after 1.46.0 release
        run: |
          go test -v -timeout=10m -run="^(TestLogsUpgrade|TestMetricsUpgrade|TestTracesUpgrade)/before_upgrade$" ./test/e2e-migrated/upgrade/...

      - name: Switch back to current revision
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Wait for cleanup of test run
        shell: bash
        run: hack/wait-for-namespaces.sh

      # wait for the build to complete so that the manager image is available
      - name: Wait for the Build Image workflow to complete
        run: "./hack/await_image.sh"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          # sets trigger depending on event being either pull_request or merge_group
          TRIGGER: "${{ github.event.pull_request.head.sha || github.event.merge_group.head_sha }}"
          QUERY_INTERVAL: 30
          IMAGE_REPO: "europe-docker.pkg.dev/kyma-project/dev/telemetry-manager"

      - name: Deploy with current version
        shell: bash
        run: |
          # add the tag PR-<number> to the image if it is a PR, if the trigger is merge_group, then add the sha as the tag
          TAG="${{ github.event_name == 'pull_request' && 'PR-' || '' }}${{ github.event.number || github.event.merge_group.head_sha }}"
          MANAGER_IMAGE=europe-docker.pkg.dev/kyma-project/dev/telemetry-manager:${TAG} make deploy-experimental

      - name: Wait for manager readiness
        shell: bash
        run: kubectl -n kyma-system rollout status deployment telemetry-manager --timeout=90s

      - name: Run tests on current revision
        shell: bash
        # TODO(TeodorSAP): Add "TestLogsOTelUpgrade" after 1.46.0 release
        run: |
          go test -v -timeout=10m -run="^(TestLogsUpgrade|TestMetricsUpgrade|TestTracesUpgrade)/after_upgrade$" ./test/e2e/upgrade/...

      - name: Finalize test
        uses: "./.github/template/finalize-test"
        if: ${{ !cancelled()  }}
        with:
          id: ${{ github.job }}
          failure: failure()
