name: PR Upgrade

permissions:
  contents: read

on:
  merge_group:
  pull_request:
    branches:
      - "main"
      - "release-*"
    # only include PRs that change:
    # go files
    # go mod files
    # test files in the test/e2e directory
    # test files in the istio directory
    # exclude go files that end with _test.go
    # exclude (go) files in the doc folder
    # include the workflow definition itself
    # include dependencies of the workflow definition
    paths:
      - "**/go.mod"
      - "**/go.sum"
      - "**.go"
      - "config/**"
      - "!**_test.go"
      - "!docs/**"
      - "test/e2e/*.go"
      - "test/integration/istio/*.go"
      - ".github/workflows/pr-upgrade.yml"
      - ".github/template/**"
      - ".env"
      - ".k3d-kyma.yaml"
  workflow_dispatch:

jobs:
  upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Checkout latest tag
        id: latest-tag
        shell: bash
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag --sort=-creatordate | sed -n 1p)
          echo "Using tag ${LATEST_TAG}"
          git checkout ${LATEST_TAG}
          GIT_COMMIT_SHA=$(git rev-parse --short=8 HEAD)
          GIT_COMMIT_DATE=$(git show -s --format=%cd --date=format:'v%Y%m%d' ${GIT_COMMIT_SHA})
          echo "Deploying Manager using image europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:${GIT_COMMIT_DATE}-${GIT_COMMIT_SHA}"
          MANAGER_IMAGE=europe-docker.pkg.dev/kyma-project/prod/telemetry-manager:${GIT_COMMIT_DATE}-${GIT_COMMIT_SHA} >> $GITHUB_OUTPUT
          echo "manager-image=${MANAGER_IMAGE}" >> $GITHUB_OUTPUT

      - name: Setup test environment
        uses: "./.github/template/test-setup"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          experimental: true
          manager-image: ${{ steps.latest-tag.outputs.manager-image }}
        env:
          #TODO: Remove after 1.54.0 release
          MANAGER_IMAGE: ${{ steps.latest-tag.outputs.manager-image }}

      - name: Run tests on latest tag
        shell: bash
        run: |
          go test -v -count=1 -timeout=10m -run="^(TestLogsFluentBitUpgrade|TestLogsUpgrade|TestMetricsUpgrade|TestTracesUpgrade)/before_upgrade$" ./test/e2e/upgrade/...

      - name: Checkout current revision
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Golang
        uses: "./.github/template/setup-golang"

      # wait for the build to complete so that the manager image is available
      - name: Wait for build image workflow to complete
        run: "./hack/await_image.sh"
        env:
          # sets trigger depending on event being either pull_request or merge_group
          IMAGE_TAG: "${{ github.event.pull_request.head.sha || github.event.merge_group.head_sha }}"
          IMAGE_REPO: "europe-docker.pkg.dev/kyma-project/dev/telemetry-manager"
          QUERY_INTERVAL: 30

      - name: Deploy with current version
        shell: bash
        run: |
          # add the tag PR-<number> to the image if it is a PR, if the trigger is merge_group, then add the sha as the tag
          TAG="${{ github.event_name == 'pull_request' && 'PR-' || '' }}${{ github.event.number || github.event.merge_group.head_sha }}"
          MANAGER_IMAGE=europe-docker.pkg.dev/kyma-project/dev/telemetry-manager:${TAG} make deploy-experimental

      - name: Wait for manager readiness
        shell: bash
        run: kubectl -n kyma-system rollout status deployment telemetry-manager --timeout=90s

      - name: Run tests on current revision
        shell: bash
        run: |
          go test -v -count=1 -timeout=10m -run="^(TestLogsFluentBitUpgrade|TestLogsUpgrade|TestMetricsUpgrade|TestTracesUpgrade)/after_upgrade$" ./test/e2e/upgrade/...

      - name: Cleanup test environment
        uses: "./.github/template/test-cleanup"
        if: ${{ !cancelled()  }}
        with:
          id: ${{ github.job }}
          failure: failure()
