name: Tag Release

env:
  KYMA_TELEMETRY_MANAGER_REPO: ${{ github.repository_owner }}/telemetry-manager

permissions:
  contents: read

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    permissions:
      contents: write # Required for creating the release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      # wait for the build to succeed so that the manager image is available
      - name: Wait for image to be available in registry
        run: "./hack/await_image.sh"
        env:
          IMAGE_REPO: "europe-docker.pkg.dev/kyma-project/prod/telemetry-manager"
          IMAGE_TAG: "${{ github.ref_name }}"
          QUERY_INTERVAL: 30

      - name: Install tools
        shell: bash
        run: make install-tools

      - name: Release
        run: hack/release.sh ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GORELEASER_CURRENT_TAG: "${{ github.ref_name }}" # Explicitly set release tag to avoid ambiguity

      - name: Package Helm chart
        run: |
          OUTPUT=$(helm package ./helm -d ./)
          FILENAME=$(echo $OUTPUT | grep -o '[^ ]*.tgz')
          echo "HELM_CHART=$FILENAME" >> $GITHUB_ENV

      - name: Upload Helm chart to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        run: |
          [[ ! -e ${HELM_CHART} ]] && echo "::error ::Packaged Helm chart does not exist" && exit 1

          gh release upload ${{ github.ref_name }} --clobber ${HELM_CHART}
      - name: Commit and push Helm chart metadata
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git checkout gh-pages
          helm repo index --url https://github.com/${{ env.KYMA_TELEMETRY_MANAGER_REPO }}/releases/download/${{ github.ref_name }} --merge ./index.yaml ./
          git add index.yaml
          git commit -m "Update Helm chart metadata for ${{ github.ref_name }}"
          git push origin gh-pages
