name: Tag Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # wait for the build to succeed so that the manager image is available
      - name: Wait for the image to be available in the registry
        run: "chmod +x ./hack/await_image.sh && ./hack/await_image.sh ${{ github.ref_name }}"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          IMAGE_REPO: "europe-docker.pkg.dev/kyma-project/prod/telemetry-manager"

      - name: Install tools
        shell: bash
        run: make install-tools

      - name: Release
        run: hack/release.sh ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GORELEASER_CURRENT_TAG: "${{ github.ref_name }}" # Explicitly set release tag to do not use -dev tag
